<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="ProjectTitle">
        GLP Project Create Account Page Example
    </div>
    <div class="Menubar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="@Url.Action("CreateAccount","Account")">Create Account</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
